pug 
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Product Catalogue Management
    body 
        h1 Product Catalogue Management: Create New Product 
    p 
        a(href='/') Home