doctype html 

html 
    head 
        title Product Management Catalogue
    body
        h1 Welcome to Product Management Catalogue
        p This web application allows you to manage the product records in your catalogue.
        table(width="50%" height="50%" border="1" cellpadding="10" cellspacing="0")
            tbody            
                tr
                    td(align="center")
                        a(href="/viewAllProducts") View All Products
                    td(align="center")
                        a(href="/createNewProduct") Create New Product

//- doctype html
//- html
//-   head
//-     title Library System
//-     link(rel="stylesheet", href="https://cdn.jsdelivr.net")
//-   body
//-     div.container.mt-5
//-       h1 Welcome to the Library Management System
//-       p.lead This page is being rendered using Pug!
      
//-       div.card.mt-3
//-         div.card-body
//-           h5 Quick Actions
//-           ul
//-             li View Books
//-             li Add Member
