{% extends 'layout.html' %}

{% block content %}
<h1>Student Course List</h1>
<h6>This program runs on python-flask with jinja2 template</h6>
<a href="/add">
    <button type="button">➕ Add Student </button>
</a>

<ul>
    {% for student in students %}
        <li style="display: flex; align-items: center; gap: 10px; margin-bottom: 5px;">
            {{ student.name }} - {{ student.course }}
            <a href="/delete/{{ student.id }}"> 
                <button type="button">❌ Delete Student </button>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
