<!DOCTYPE html>
<html>

    <head>
        <title>Machine Learning Models for Classification</title>
    </head>

    <body>
        <h1>Welcome to Machine Learning Models for Classification</h1>
        <p>This web application allows you to interact with machine learning models trained with Scikit-learn and Keras The former involves structured data as input and the latter allows you to upload an image.</p>
        <table width="50%" height="50%" border="1" cellpadding="10" cellspacing="0">
            <tbody>
                <tr>
                    <td align="center"><a href="/irisClassifier">Iris Classifier</a></td>
                    <td align="center"><a href="/shapesClassifier">Shapes Classifier</a></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>
